.launch-filter {
    margin: 20px 0;
  }
  
  .launch-filter button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #1c1e22;
    color: white;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .launch-filter button:hover {
    background-color: #333;
  }
  
