body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #ffffff;
  padding: 20px 0;
  color: black;
  text-align: center;
  border-bottom: 2px solid #e8e8e8;
  position: relative;
  overflow: hidden;
}

.App-header img {
  width: 380px;
  height: 57px;
  max-width: none;
  object-fit: cover;
  
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #ffffff;
  border-bottom: 2px solid #e8e8e8;
}

.filters .dropdown {
  display: flex;
  align-items: center;
}

.filters .dropdown select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

.launch-table-container {
  padding: 20px 40px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.launch-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.launch-table th,
.launch-table td {
  padding: 12px;
  border: 1px solid #e8e8e8;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.launch-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

.launch-table tbody tr:hover {
  background-color: #f9f9f9;
}

.even {
  background-color: #ffffff;
}

.odd {
  background-color: #fafafa;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-size: 16px;
}

.pagination button:hover {
  background-color: #f5f5f5;
}

.modal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.launch-detail {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
}

.launch-detail h2 {
  margin-top: 0;
  font-size: 24px;
  color: #0077b6;
}

.launch-detail div {
  margin-bottom: 10px;
  font-size: 16px;
}

.launch-detail div strong {
  color: #0077b6;
}

.launch-status {
  font-weight: bold;
}

.launch-status.success {
  color: green;
}

.launch-status.failed {
  color: red;
}

.launch-status.upcoming {
  color: orange;
}
